<h1>Create a new tweet</h1>
<% if @tweet.errors.any? %>
  <h2>There were errors saving your tweet</h2>
  <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @tweet do |f| %>

	<%= f.label :text %><br />

	<%= f.submit %>
<% end %>